# Directories
/node_modules/
/data/
/docs/

# File Extensions
*.log
*.txt

# Specific Files
package-lock.json
settings.json
config.json
config.js
tagsbot.sqlite
copy-paste-spam-filters.json

# Asset Files
assets/selfies/selfie.jpg
assets/selfies/selfie_meme.jpg
assets/selfies/selfie_triggered.jpg
assets/images/image_evil.png
assets/images/plate_stepped.jpg

# Music
assets/stations/*
base/Music.js
commands/music/*
functions/Music.js

# Commands
commands/fun/evil.js
commands/documentation/init.js


# Monitors
monitors/starboard.js

# Functions
functions/starboard.js