# Directories
/node_modules/
/data/

# File Extensions
*.log

# Specific Files
package-lock.json
config.js
tagsbot.sqlite
copy-paste-spam-filters.json

# Asset Files
assets/selfies/selfie.jpg
assets/selfies/selfie_meme.jpg
assets/selfies/selfie_triggered.jpg
assets/images/image_evil.png
assets/images/plate_stepped.jpg

# Commands
commands/fun/evil.js
commands/fun/stepped.js

# Functions
functions/starboard.js
config\.1\.js

commands/support/github\.js
