<%- include('blocks/header', {bot: bot, user: user, auth: auth}) %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h1><%= bot.user.username %> Dashboard</h1>
      <h4><% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>No description given.<% }%></h4>
      <p><a class="btn btn-primary" href="/commands" role="button">Click here to see the commands »</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Discord Server</h2>
      <p>If you need any help with creating bots, we're more than eager to help!</p>
      <p><a class="btn btn-secondary" href="https://discord.gg/9ESEZAx" role="button">Join An Idiot's Guide »</a></p>
    </div>
  </div>
  <% include ./blocks/footer %>
